/*Inizio Common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}


.playlists-list::-webkit-scrollbar{
    background-color: black;
}

.playlists-list::-webkit-scrollbar-thumb{
    color: black;
}

.flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

/*Inizio CTA*/
.cta{
    z-index: 999;
    position: fixed;
    height: 80px;
    width: calc(100vw - 250px);
    left: 250px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.upgrade{
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.btn{
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    border: solid 1px white;
    border-radius: 50px;
    margin-right: 20px;
    font-size: 15px;
}

.cta .btn a{
    text-decoration: none;
    line-height: 80px;
}
/*Fine CTA*/

/*Inizio Nav*/
.cont-bottom{
    height: 100px;
    background-color: black;
}

.cont-top{
    height: calc(100% - 100px);
    overflow-y: hidden;
}

.logo-small{
    display: none;
}

nav{
    background-color: transparent;
    position: absolute;
    width: 250px;
    height: calc(100vh - 120px);
    min-height: 500px;
    background-color: black;
    top: 0px;
    left: 0;
}

.nav-content{
    height: 100%;
    width: 100%;
    justify-content: flex-start;
}

.logo{
    width: 100%;
}

.logo-content{
    margin: 20px;
    align-items: center;
}
#logo-img{
    width: 100%;
    margin-right: 10px;
}

.functions .fun-list li{
    list-style: none;
    padding-left: 20px;
    margin-top: 10px;
    align-items: center;
    margin-left: -20px;
}

.fun-list .flex .active{
    border-left: solid #99dd25 3px;
}

.functions .fun-list li img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.functions .fun-list li a{
    text-decoration: none;
    color: rgb(93, 93, 93);
    padding-left: 20px;
}

.functions{
    width: 100%;
}

.playlists{
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
}

.create{
    align-items: center;
    margin-top: 20px;
}

.plus{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: rgb(163, 163, 163);
    justify-content: center;
    align-items: center;
}

.plus .plus-icon{
    color: black;
    font-size: 40px;
}

.playlists-list{
    margin-left: 20px;
    overflow-y: auto;
    padding-bottom: 100px;
    height: 30vh;
}

.playlists-list ul li{
    list-style: none;
    margin-top: 20px
}

.playlists-list ul li a{
    text-decoration: none;
    font-size: 13px;
    color: rgb(111, 111, 111);
}

#create-playlist{
    color: rgb(111, 111, 111);
}

.user{
    margin-left: 20px;
    flex-basis: 100px;
    display: block;
    background-color: black;
    padding-bottom: 10px;
}

.install{
    width: 90%;
    height: 30px;
    padding-bottom: 15px;
    border-bottom: solid gray 1px;
    align-items: center;
}

.round{
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid rgb(163, 163, 163) 1px;
}

#arrow-down{
    color: rgb(163, 163, 163) 1px;
    font-size: 10px;
}

#install-app{
    text-decoration: none;
    color: rgb(111, 111, 111);
    font-size: 15px;
    margin-left: 10px;
}

.user-pic{
    align-items: center;
}

.user-profile{
    margin-top: 15px;
    margin-left: 0px;
}
.round-2{
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid rgb(163, 163, 163) 1px;
    overflow: hidden;
    background-color: rgb(128, 128, 128);
}

#profile-picture{
    width: 100%;
    height: 100%;
}
/*Fine nav*/

/*Inizio Main*/
main{
    position: absolute;
    left: 250px;
    top: 0px;
    width: calc(100% - 250px);
    height: calc(100% - 120px);
    background-color: rgb(20, 25, 34);
    overflow-y: scroll;
}

.main-content{
    width: 100%;
    height: calc(100% - 120px);
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
}

.menu{
    align-self: center;
    margin-top: 100px;
    width: 70%;
    height: 50px;
    justify-content: center;
}

.menu-list{
    list-style: none;
   
}

.menu-list li{
    display: inline-block;
    margin: 0 10px;
}

.menu-list li a{
    text-decoration: none;
    color: rgb(111, 111, 111);
}

.recent{
    width: 98%;
    height: 300px;
    margin: 50px 20px
}

.album{
    width: calc(100% / 6);
    padding-right: 15px;
    margin-top: 15px;
    align-items: center;
}

.album-pic{
    width: 100%;
}

.genre{
    margin: 10px 0px;
    text-align: center;
}

.subtitle{
    font-size: 13px;
    color: rgb(125, 127, 133);
}
.recommend, .popular{
    width: 50%;
    margin-left: 20px;
    margin-top: 100px;
}

.popular{
    padding-bottom: 100px;
}

.listen{
    color: rgb(111, 111, 111);
    font-size: 13px;
    margin-top: 10px;
}

.release{
    width: 65%;
    margin-top: 20px;
}

.rel-container{
    width: calc(100% / 2);
    margin-right: 15px;
}

.release-pic{
    width: 100%;
}

.rel-txt{
    margin-top: 10px;
    text-align: center;
}

.round-img{
    border-radius: 50%;
}
/*Fine Main*/

/*Inizio Footer*/
footer{
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0;
    bottom: 0;
    background-color: rgb(40, 40, 40);
}

.footer-content{
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer-c{
    width: 70%;  
    height: 100%;
    /*min-width: 600px;*/
}

.album-footer{
   
    height: 50px;
}

.footer-l{
    align-items: center;
    margin-left: 15px;
    width: 15%;
    min-width: 250px;
}

.info{
    margin-left: 10px;
    flex-wrap: nowrap;
    
    margin-right: 30px;
}

.author{
    font-size: 13px;
}

.song{
    font-size: 12px;
    color: rgb(111, 111, 111);
}

.fa-heart, .fa-folder{
    color: rgb(111, 111, 111);
    margin-right: 20px;
}

.footer-l-icon{
    justify-content: flex-end;
}

.volume{
    height: 5px;
    width: 100px;
    background-color: rgb(111, 111, 111);
    border-radius: 5px;
}

.vol-sel{
    height: 100%;
    width: 20%;
    background-color: rgb(194, 194, 194);
}

.footer-r{
    width: 15%;
    margin-right: 15px;
    align-items: center;
    justify-content: flex-end;
}

.footer-r-element{
    margin-left: 15px;
}

.transport, .time{
    width: 100%;
    flex-basis: 50%;
}

.transport{
    align-items: center;
    justify-content: center;
}

.transport-icons{
    width: 30%;
    align-items: center;
    justify-content: space-between;
    
}

.transport-icons .fas{
    font-size: 20px;
}

#play{
    font-size: 40px;
}

.time{
    justify-content: center;
    align-items: center;
}

.play-status{
    flex-basis: 80%;
    justify-content: space-between;
    align-items: center;
}

.play-line{
    width: 90%;
    height: 5px;
    background-color: rgb(111, 111, 111);
    border-radius: 5px;
}

.play-istant{
    height: 100%;
    width: 25%;
    background-color: rgb(194, 194, 194);

}
/*Fine Footer*/







/*----------------INIZIO MEDIA QUERY-----------------------------*/

/*INIZIO LAYOUT XS*/
@media screen and (min-width: 0px) and (max-width: 576px) {

    nav{
        width: 10%;
    }

    header, main{
        left: 10%;
        width: 90%;
    }
    
    nav .nav-content .playlists{
        display: none;
    }

    .logo{
        height: 10%;
    }

    .functions{
        height: 20%;
    }


    .logo, .ftn-txt, .playlists, .playlists-list, 
    .create .playlists-title, #install-app, #john{
        display: none;
    }

    .logo-content{
        margin-left: 10px;
    }

    .logo-small{
        display: block;
        
    }

    .logo-small .logo-content #logo-img-2{
        width: 30px;
        height: 30px;
    }

    .install{
        border: none;
    }

    .functions .fun-list li a{
        padding-left: 10px;
    }

    .fun-list .flex .active{
        border: none;
    }
}
/*FINE LAYOUT XS*/

/*INIZIO LAYOUT S*/
@media screen and (min-width: 577px) and (max-width: 767px) {
    nav{
        width: 40%;
    }
    
    header, main{
        left: 40%;
        width: 60%;
    }

    .recent, .recommend, .popular{
        width: 90%;
        
    }

    .btn{
        width: 200px;
    }
}
/*FINE LAYOUT S*/

/*INIZIO LAYOUT MD*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .recommend, .popular{
        width: 50%;
    }
}
/*FINE LAYOUT MD*/

/*----------------FINE MEDIA QUERY-----------------------------*/