/*Inizio Common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

/*Inizio header*/
header{
    z-index: 999;
    position: fixed;
    height: 80px;
    width: calc(100vw - 250px);
    left: 250px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.upgrade{
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.btn{
    height: 50px;
    width: 250px;
    border: solid 1px white;
    border-radius: 50px;
    margin-right: 20px;
}
/*Fine header*/

/*Inizio Nav*/
nav{
    background-color: transparent;
    position: absolute;
    width: 250px;
    height: calc(100vh - 80px);
    background-color: black;
    bottom: 120px;
    left: 0;
}

.nav-content{
    height: 100%;
    width: 100%;
}

.logo{
    width: 100%;
    height: 15%;
    border: solid 1px white;
}

.functions{
    width: 100%;
    height: 20%;
    border: solid 1px white;
}

.playlists{
    width: 100%;
    height: 45%;
    border: solid 1px white;
}

.user{
    width: 100%;
    height: 20%;
    border: solid 1px white;
}
/*Fine nav*/

/*Inizio Main*/
main{
    position: absolute;
    left: 250px;
    top: 0px;
    width: calc(100% - 250px);
    height: calc(100% - 120px);
    background-color: rgb(20, 25, 34);
    overflow-y: scroll;
}
/*Fine Main*/

/*Inizio Footer*/
footer{
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0;
    bottom: 0;
    background-color: rgb(40, 40, 40);
}

.footer-content{
    height: 100%;
    width: 100%;
}

.footer-l, .footer-r{
    border: solid white 1px;
    width: 25%;
}

.footer-c{
    border: solid white 1px;
    width: 50%;
    height: 100%;
}
/*Fine Footer*/